$buttonColor: #F7F7F7;
$default-font: "Comic Sans MS", cursive, sans-serif;
$shadow-color: #888888;

button {
  &:hover {
    top: -1px;
  }
  &:active {
    top: 1px;
  }
}

.Next-Button {
  background-color: $buttonColor;
  font-family: $default-font;
  box-shadow: 5px 5px 5px $shadow-color;
  position:relative;
  float: right;
  right: 1%;
}

.Prev-Button {
  background-color: $buttonColor;
  font-family: $default-font;
  box-shadow: 5px 5px 5px $shadow-color;
  position:relative;
  left: 21%;
}
