body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navigation {
  vertical-align: top;
  text-align: center;
  border: solid;
  width: 20%;
  height:70%;
}

.slides {
  width: 80%;
  height:70%;
}

.page {
  margin:10px;
  height:70%;
}

table {
  width:100%;

}

.slideDiv {
  text-align: center;
  border-style: solid;
  height: 400px;
}

.title-slide {
  position: relative;
}

.simple-slide {
  position: relative;
}

.two-column-slide {
  /*add styling here*/
}

h1, h3 {
  text-align: center;
}

li, p {
  text-align: left;
}

.Next-Button {
  position:absolute;
  right: 2%;
  top:50%;
}

.Prev-Button {
  position:absolute;
  left: 22%;
  top:50%;
}
