body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  margin-top: -5px;
}

.list {
  margin-left: 20px;
}

.navigation-title {
  margin-bottom: 30px;
}

.navigation {
  vertical-align: top;
  text-align: center;
  border: solid;
  width: 20%;
  height:70%;
}

.slides {
  width: 80%;
  height:70%;
}

.page {
  margin:10px;
  height:70%;
}

.list-indent {
  margin-left: 21px;
}

table {
  width:100%;

}

.slideDiv {
  text-align: center;
  border-style: solid;
  height: 400px;
}

.title-slide {
  position: relative;
}

.simple-slide {
  position: relative;
}

.two-column-slide {
  /*add styling here*/
}

.center-title {
  margin-top: 160px;
}

h1, h3 {
  text-align: center;
}

li, p {
  text-align: left;
}

.Next-Button {
  position:relative;
  float: right;
  right: 1%;
}

.Prev-Button {
  position:relative;
  left: 21%;
}
